.git
.dvc/cache
.dvc/tmp
.dvc/plans
data/
mlruns/
checkpoints/
outputs/
multirun/
tb_logs/
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.idea/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
.env