__pycache__/
*.pyc
.venv/
/data/
outputs/
multirun/
checkpoints/
tb_logs/
dvc_storage/
.idea/
.ruff_cache/
.pytest_cache/
.env
mlruns/
.dvc/cache/
.dvc/tmp/
.dvc/plans/
.ipynb_checkpoints/

*.py[cod]
dist/
build/
*.egg-info/
.dvc/cache

/checkpoints

# Hydra auxiliary output when hydra.run.dir=. (DVC-invoked runs)
.hydra/
*.log
.coverage
